# Pandas for Fun and Profit

In [3]:
import pandas as pd

In [54]:
df1 = pd.read_csv('../nlp/twitter/SentimentAnalysisDataset_sm.csv')
#df2 = pd.read_csv('../nlp/twitter/SentimentAnalysisDataset.csv')
 
#df1.sort_index(axis=1, ascending=False)
df1.sort_values(by='SentimentText')
df1.iloc[0:5,1:4]
df1[df1['Sentiment'].isin(['1'])]
df1.iat[1,0] = 99

df1.index
df1.columns

Index(['ItemID', 'Sentiment', 'SentimentSource', 'SentimentText'], dtype='object')

In [60]:
df1.head()

,ItemID,Sentiment,SentimentSource,SentimentText
0,1,0,Sentiment140,is so sad for my APL frie...
1,99,0,Sentiment140,I missed the New Moon trail...
2,3,1,Sentiment140,omg its already 7:30 :O
3,4,0,Sentiment140,.. Omgaga. Im sooo im gunna CRy. I'...
4,5,0,Sentiment140,i think mi bf is cheating on me!!! ...

In [113]:
df2=df1.reindex(index=df1.Sentiment[0:6], columns=list(df1.columns) + ['E'])
df2.loc[0,'E'] = 2
#df2.loc[1,'E'] = 1
df2 = df2.fillna(value=5)
df2

,ItemID,Sentiment,SentimentSource,SentimentText,E
Sentiment,,,,,
0,1,0,Sentiment140,is so sad for my APL frie...,2.0
0,1,0,Sentiment140,is so sad for my APL frie...,2.0
1,99,0,Sentiment140,I missed the New Moon trail...,5.0
0,1,0,Sentiment140,is so sad for my APL frie...,2.0
0,1,0,Sentiment140,is so sad for my APL frie...,2.0
0,1,0,Sentiment140,is so sad for my APL frie...,2.0

In [117]:
df2.mean()

ItemID       17.333333
Sentiment     0.000000
E             2.500000
dtype: float64

In [125]:
import numpy as np
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.766548  1.141880  0.379456  0.215660
2013-01-02  0.291987  1.097796 -0.239596  0.436120
2013-01-03  1.005695 -0.091561 -0.878349 -1.054212
2013-01-04 -0.679535  0.156367 -0.323457 -1.083310
2013-01-05 -0.538805 -0.703130  0.144236 -0.855268
2013-01-06 -0.627758  0.860428  0.665080  0.882442

In [128]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [129]:
df.sub(s, axis='index')

                   A         B         C         D
2013-01-01       NaN       NaN       NaN       NaN
2013-01-02       NaN       NaN       NaN       NaN
2013-01-03  0.005695 -1.091561 -1.878349 -2.054212
2013-01-04 -3.679535 -2.843633 -3.323457 -4.083310
2013-01-05 -5.538805 -5.703130 -4.855764 -5.855268
2013-01-06       NaN       NaN       NaN       NaN

In [135]:
print(df)
df.apply(np.cumsum,axis=0)

                   A         B         C         D
2013-01-01 -0.766548  1.141880  0.379456  0.215660
2013-01-02  0.291987  1.097796 -0.239596  0.436120
2013-01-03  1.005695 -0.091561 -0.878349 -1.054212
2013-01-04 -0.679535  0.156367 -0.323457 -1.083310
2013-01-05 -0.538805 -0.703130  0.144236 -0.855268
2013-01-06 -0.627758  0.860428  0.665080  0.882442

                   A         B         C         D
2013-01-01 -0.766548  1.141880  0.379456  0.215660
2013-01-02 -0.474561  2.239676  0.139860  0.651781
2013-01-03  0.531134  2.148115 -0.738489 -0.402432
2013-01-04 -0.148401  2.304482 -1.061946 -1.485741
2013-01-05 -0.687206  1.601352 -0.917711 -2.341009
2013-01-06 -1.314964  2.461780 -0.252630 -1.458567

In [142]:
s = pd.Series(np.random.randint(0, 7, size=10))
#print(s)
s.value_counts()

2    4
4    2
5    1
3    1
1    1
0    1
dtype: int64

In [148]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat', 1, 2])
print(s)
s.str.lower()

0        A
1        B
2        C
3     Aaba
4     Baca
5      NaN
6     CABA
7      dog
8      cat
9        1
10       2
dtype: object

0        a
1        b
2        c
3     aaba
4     baca
5      NaN
6     caba
7      dog
8      cat
9      NaN
10     NaN
dtype: object

init
run
3.1228