# Part 2 -- Training the Model

In [8]:
import pandas as pd
diamonds = pd.read_csv('diamonds-1a.csv')
diamonds = diamonds.drop(columns=['Unnamed: 0'])
diamonds.head()
diamonds.describe()

,carat,price,cut__Fair,cut__Good,cut__Ideal,cut__Premium,cut__Very Good,color__D,color__E,color__F,...,color__I,color__J,clarity__I1,clarity__IF,clarity__SI1,clarity__SI2,clarity__VS1,clarity__VS2,clarity__VVS1,clarity__VVS2
count,53917.000000,53917.000000,53917.000000,53917.000000,53917.000000,53917.000000,53917.000000,53917.000000,53917.000000,53917.000000,...,53917.000000,53917.000000,53917.000000,53917.000000,53917.000000,53917.000000,53917.000000,53917.000000,53917.000000,53917.000000
mean,0.797687,3930.910474,0.029842,0.090918,0.399633,0.255559,0.224048,0.125638,0.181668,0.176902,...,0.100543,0.052080,0.013688,0.033199,0.242280,0.170336,0.151492,0.227275,0.067771,0.093959
std,0.473777,3987.215003,0.170153,0.287494,0.489827,0.436179,0.416958,0.331444,0.385574,0.381589,...,0.300726,0.222191,0.116192,0.179158,0.428467,0.375931,0.358531,0.419076,0.251355,0.291775
min,0.200000,326.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.400000,949.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.700000,2401.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.040000,5323.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,5.010000,18823.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.utils import shuffle

diamonds = pd.read_csv('diamonds-1a.csv')
diamonds = shuffle(diamonds, random_state=0)   # is this a repeatable shuffle by defautl w/o param

# Split the targets into training/testing sets
diamonds_y_train = diamonds.price[:-20]
diamonds_y_test = diamonds.price[-20:]
diamonds = diamonds.drop(columns=['price','Unnamed: 0'])

# Split the data into training/testing sets
diamonds_X_train = diamonds[:-20]
diamonds_X_test = diamonds[-20:]

# Create linear regression object
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(diamonds_X_train, diamonds_y_train)

# Make predictions using the testing set
diamonds_y_pred = regr.predict(diamonds_X_test)

# The coefficients
print('Coefficients: \n', regr.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(diamonds_y_test, diamonds_y_pred))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(diamonds_y_test, diamonds_y_pred))

print (diamonds_X_test.head())
print (diamonds_y_test.head())
print (pd.DataFrame(diamonds_y_pred).head())
diamonds_y_test.describe()

Coefficients:
 [8.89120958e+03 2.19392780e+16 2.19392780e+16 2.19392780e+16
 2.19392780e+16 2.19392780e+16 4.18666049e+15 4.18666049e+15
 4.18666049e+15 4.18666049e+15 4.18666049e+15 4.18666049e+15
 4.18666049e+15 1.59621301e+15 1.59621301e+15 1.59621301e+15
 1.59621301e+15 1.59621301e+15 1.59621301e+15 1.59621301e+15
 1.59621301e+15]
Mean squared error: 208927.55
Variance score: 0.98
       carat  cut__Fair  cut__Good  cut__Ideal  cut__Premium  cut__Very Good  \
18983   1.14          0          0           1             0               0
32230   0.31          0          0           1             0               0
17089   1.23          0          0           1             0               0
14650   1.31          0          0           0             0               1
52620   0.24          0          0           0             0               1

       color__D  color__E  color__F  color__G  ...  color__I  color__J  \
18983         0         0         1         0  ...         0         0
32230         0         0         0         0  ...         0         0
17089         0         0         0         0  ...         1         0
14650         0         0         0         0  ...         1         0
52620         0         1         0         0  ...         0         0

       clarity__I1  clarity__IF  clarity__SI1  clarity__SI2  clarity__VS1  \
18983            0            0             0             0             0
32230            0            1             0             0             0
17089            0            0             0             0             0
14650            0            0             0             1             0
52620            0            0             0             0             0

       clarity__VS2  clarity__VVS1  clarity__VVS2
18983             1              0              0
32230             0              0              0
17089             1              0              0
14650             0              0              0
52620             0              0              1

[5 rows x 21 columns]
18983    7819
32230     789
17089    6817
14650    5916
52620     552
Name: price, dtype: int64
        0
0  7676.0
1   800.0
2  7340.0
3  6312.0
4   376.0

count      20.000000
mean     3520.950000
std      3029.780233
min       552.000000
25%      1219.500000
50%      1906.500000
75%      6059.500000
max      9405.000000
Name: price, dtype: float64